<!DOCTYPE html>
<html lang="pt_br">

<%- include('../partials/head') %>

<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <!-- /.navbar -->
  <%- include('../partials/header') %>

  <%- include('../partials/sidebar') %>


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">


        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Cadastro de subproduto</h3>
                <div style="margin-left: 91%;">
                  <a href="/subproduto/lista"><span class="btn bg-primary">Voltar</span></a>
                </div>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form action="/subproduto/salvar" method="post">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                    <label for="">Nome da subproduto</label>
                    <input type="text" name="nome" class="form-control"  placeholder="nome da subproduto" required>
                    <input type="hidden" name="id_empresa" class="form-control" value="<%= id_empresa %>"  placeholder="nome da subproduto" required>
                  </div>
                  <div class="col">
                  <div class="form-group">
                    <label for="">Preço</label>
                    <input type="text" name="preco" class="form-control" placeholder="Preço" required>
                  </div>
                </div>
                </div>

                <div class="col">
                  <div class="form-group">
                    <label for="">Produto vinculado</label>
                    <select class="form-control select2" name="id_produto" style="width: 100%;" required>  
                      <% produto.forEach(function(data) { %>            
                      <option value="<%= data.id %>" ><%= data.nome %></option>
                      <% }); %>             
                    </select>
                  </div>
                </div> 

                              
            <div class="col">
            <div class="form-group">
              <label for="">Ativo</label>
              <select class="form-control select2" name="ativo" style="width: 100%;" required>              
                <option>Sim</option>
                <option>Não</option>               
              </select>
            </div>
          </div>  
        </div>        
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
              </form>
            </div>
          </div>               
      </div><!-- /.container-fluid -->
    </section>
  </div>
  <!-- /.content-wrapper -->
  <%- include('../partials/footer') %>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<%- include('../partials/scripts') %>
</body>
</html>
